$color_1: white;
$color_2: aliceblue;
$color_3: grey;
$color_4: slateblue;
$color_5: rgb(34, 178, 60);
$color_6: black;
$color_7: blueviolet;
$color_8: antiquewhite;
$color_9: beige;
$color_10: darkslateblue;
$color_11: rgb(179, 173, 230);
$color_12: rgb(192, 255, 2);
$color_13: rgb(0, 8, 11);
$color_14: aqua;
$color_15: rgb(255, 247, 0);
$color_16: rgb(255, 0, 0);
$color_17: rgb(0, 255, 4);
$color_18: rgb(255, 68, 0);
$color_19: rgb(255, 0, 140);
$font-family_1: "Lato", sans-serif;
$font-family_2: Arial, Helvetica, sans-serif;
$background-color_1: maroon;

@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap";
@import "max576";
@import "min576";
@import "min768"